@import "./menuContainer.css";


body {
    height: 100vh;
    margin: 0;
    background-image: url(../static/assets/background.png);
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    justify-content: center;
    gap: 0px 0px;
    grid-template-areas: 
    "logo"
    "menuContainer"
    "buttons";
    }

.logo {
    display: grid;
    grid-area: logo;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}