@import './board.css';
@import './piece.css';
@import './logo.css';
@import './modal-pawn-promo.css';
@import './queen.css';
@import "./timeHistoryContainer.css";
@import "./menuContainer.css";
@import "./logo.css";
@import "./lang.css";



body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    justify-content: center;
    background-image: url(../static/assets/background.png);
    background-color: black;
    gap: 0px 0px;
    grid-template-areas:
        "logo logo"
        "game timeHistoryContainer";
}


.body-start-page {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.25fr;
    justify-content: center;
    gap: 0px 0px;
    grid-template-areas:
        "logo"
        "menuContainer"
        "buttons";
}


.active:before {
    display: block;
    content: '';
    width: 50%;
    height: 50%;
    background-color: rgba(124, 124, 124, 0.5);
    border-radius: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.active.pieceInside {
    background-color: rgba(124, 124, 124, 0.5);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

    body {
        grid-template-rows: 0.14fr 1fr;
    }

    /*STARTING PAGE*/
    .menuContainer {
        width: 27.5vw;
        height: 60vh;
    }

    .menuContainer h2 {
        font-size: 1.25em;
        margin: 0.5em auto;
    }

    .menuContainer h4 {
        font-size: 0.75em;
    }

    .menuNames input {
        font-size: 1em;
    }

    .start-button {
        margin-top: 1em;
    }

    .start-button p {
        font-size: 1em;
        padding: 0.25em;
    }

    /*LOGO*/
    .logo {
        display: grid;
        grid-area: logo;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 10vh;

    }

    .logo img {
        max-height: 10vh;
        max-width: 35vw;
        object-fit: contain;

    }

    /*BOARD*/
    .board-wrapper {
        grid-template-columns: 55px 1fr 1.5em;
        padding-top: 1.5em;
        margin: auto 2em auto auto;
    }

    .letters {
        grid-template-columns: repeat(8, 55px);
        font-size: 1em;
        height: 55px;
    }

    .numbers {
        grid-template-rows: repeat(8, 55px);
        font-size: 1em;
    }

    .board-container {
        grid-template-columns: repeat(8, 55px);
        border: 2px solid black;
    }

    .light {
        width: 55px;
        height: 55px;
    }

    .dark {
        width: 55px;
        height: 55px;
    }

    /*TIME-HISTORY-CONTAINER*/
    .time-div h4 {
        font-size: 1em;
        margin: 1em;
    }

    #timer1 {
        margin-right: 1.5em;
    }

    #timer-white {
        font-size: 1.5em;
    }

    #timer-black {
        font-size: 1.5em;
    }

    /* HISTORY CONTAINER */

    .history-div h4 {
        font-size: 1em;
        margin: 1em;
    }

    .history-div-body {
        height: 200px;
        width: 90%;
        padding: 0.9em;
    }

    .history-move {
        font-size: .7em;
        margin-bottom: 1em;
    }

    .history-moveHeader {
        font-size: .75em;
    }

    /* BUTTONS */

    .exit-button {
        font-size: 0.75em;
    }

    .undo-button {
        font-size: 0.75em;
    }

    /*PROMOCJA PIONKA*/

    .modal-window-white {
        right: 55px;
    }

    .modal-window-white img {
        height: 55px;
    }

    .modal-window-black {
        right: 55px;
    }

    .modal-window-black img {
        height: 55px;
    }

}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    body {
        height: 90vh;
        grid-template-rows: 0.1fr 1fr;
    }

    .menuContainer {
        width: 50vw;
        height: 70vh;
        margin: 1em auto auto;
    }

    .menuTime {
        width: 90%;
        margin: auto;
    }

    .menuCheckList {
        width: 90%;
        margin: auto;
    }

    .menuContainer h2 {
        font-size: 1.5em;
        margin: auto;
    }

    .menuContainer h4 {
        font-size: 1.2em;
    }

    .menuNames {
        width: 90%;
        margin: auto;
    }

    .menuNames input {
        font-size: 1.25em;
        padding: 0.15em;
    }

    .menuNames fieldset {
        padding: 0.15em;
    }

    .menuNames legend {
        font-size: 0.9em;
    }

    .menuTime h4 {
        margin-top: 1em;
    }

    .range-slider span {
        font-size: 1.25em;
    }

    .menuCheckList span {
        font-size: 1.25em;
    }

    .start-button {
        margin-top: 1em;
    }

    .start-button p {
        font-size: 1.5em;
        padding: 0.25em;
    }

    /*LOGO*/
    .logo {
        display: grid;
        grid-area: logo;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 10vh;
        margin-top: 1em;
    }

    .logo img {
        max-height: 10vh;
        max-width: 35vw;
        object-fit: contain;

    }

    /*BOARD*/
    .board-wrapper {
        grid-template-columns: 50px 1fr 1.5em;
        padding-top: 1.5em;
        margin: auto 2em auto auto;
        height: 80%;
    }

    .letters {
        grid-template-columns: repeat(8, 50px);
        font-size: 1em;
        height: 50px;
    }

    .numbers {
        grid-template-rows: repeat(8, 50px);
        font-size: 1em;
    }

    .board-container {
        grid-template-columns: repeat(8, 50px);
        border: 2px solid black;
    }

    .light {
        width: 50px;
        height: 50px;
    }

    .dark {
        width: 50px;
        height: 50px;
    }

    /*TIME-HISTORY-CONTAINER*/

    .time-history-container {
        width: 33vw;
        height: 60vh;
    }

    .time-div h4 {
        font-size: 1em;
        margin: 1em;
    }

    #timer1 {
        margin-right: 1.5em;
    }

    #timer-white {
        font-size: 1.5em;
    }

    #timer-black {
        font-size: 1.5em;
    }

    /* HISTORY CONTAINER */

    .history-div h4 {
        font-size: 1em;
        margin: 1em;
    }

    .history-div-body {
        height: 200px;
        width: 90%;
        padding: 0.9em;
    }

    .history-move {
        font-size: .7em;
        margin-bottom: 1em;
    }

    .history-moveHeader {
        font-size: .75em;
    }

    /* BUTTONS */

    .exit-button {
        font-size: 0.75em;
    }

    .undo-button {
        font-size: 0.75em;
    }

    /*PROMOCJA PIONKA*/

    .modal-window-white {
        right: 50px;
    }

    .modal-window-white img {
        height: 50px;
    }

    .modal-window-black {
        right: 50px;
    }

    .modal-window-black img {
        height: 50px;
    }

    /*MODAL KOŃCOWY*/

    /* .endModal {
        display: grid;
        justify-self: center;
        align-self: center;
        height: 50vh;
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        padding: 1vw;
        text-align: center;
        border-radius: 25px;
    }

    .endModal h1 {
        display: grid;
        align-self: center;
    } */
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    body {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.05fr 0.9fr 0.65fr;
        background-image: none;
        grid-template-areas:
            "logo"
            "game"
            "timeHistoryContainer";
    }

    .menuContainer {
        width: 60vw;
        height: 55vh;
        margin: 1.5em auto auto;
    }

    .logo {
        height: 10vh;
    }

    .logo img {
        max-height: 10vh;
        max-width: 50vw;
    }

    .menuTime {
        width: 90%;
        margin: auto;
    }

    .menuCheckList {
        width: 90%;
        margin: auto;
    }

    .menuContainer h2 {
        font-size: 1.5em;
        margin: auto;
    }

    .menuContainer h4 {
        font-size: 1.2em;
    }

    .menuNames {
        width: 90%;
        margin: auto;
    }

    .menuNames input {
        font-size: 1.25em;
        padding: 0.15em;
    }

    .menuNames fieldset {
        padding: 0.15em;
    }

    .menuNames legend {
        font-size: 0.9em;
    }

    .menuTime h4 {
        margin-top: 1em;
    }

    .range-slider span {
        font-size: 1.25em;
    }

    .menuCheckList span {
        font-size: 1.25em;
    }

    .start-button {
        margin-top: 1em;
    }

    .start-button p {
        font-size: 1.5em;
        padding: 0.25em;
    }

    /*BOARD*/

    .board-wrapper {
        height: 87%;
        grid-template-columns: 50px 1fr 1em;
        padding-top: 1em;
        margin: auto;
        border-radius: 15px;
    }

    .letters {
        grid-template-columns: repeat(8, 50px);
        font-size: 0.75em;
        height: 50px;
        margin-bottom: 0;
    }

    .numbers {
        grid-template-rows: repeat(8, 50px);
        font-size: 0.75em;
    }

    .board-container {
        grid-template-columns: repeat(8, 50px);
        border: 2px solid black;
    }

    .light {
        width: 50px;
        height: 50px;
    }

    .dark {
        width: 50px;
        height: 50px;
    }

    /*TIME-HISTORY-CONTAINER*/

    .time-history-container {
        width: 70vw;
        height: 33vh;
        border-radius: 15px;
        margin: 0 auto auto;
    }

    .time-div h4 {
        font-size: 1.25em;
        margin: 0.5em;
    }

    #timer1 {
        margin-right: 3.5em;
    }

    #timer-white {
        font-size: 1.25em;
        border-radius: 7px;
    }

    #timer-black {
        font-size: 1.25em;
        border-radius: 7px;
    }

    #timer1 h5 {
        font-size: 1em;
        margin: auto;
    }

    #timer2 h5 {
        font-size: 1em;
        margin: auto;
    }

    /* HISTORY CONTAINER */

    .history-div {
        margin-top: 0.25em;
    }

    .history-div h4 {
        font-size: 1em;
        margin: 0.5em;
    }

    .history-div-body {
        height: 120px;
        width: 90%;
        padding: 0.5em;
        border-radius: 10px;
    }

    .history-move {
        font-size: .75em;
        margin-bottom: 0.4em;
    }

    .history-moveHeader {
        font-size: .75em;
    }

    /* BUTTONS */

    .exit-button {
        display: inline-block;
        font-size: 1em;
        padding: 0.4em 0.6em;
        border: 1.5px solid #FA6009;
        width: 40%;
        margin: 0.25em 0.75em auto auto;
    }

    .undo-button {
        display: inline-block;
        font-size: 1em;
        padding: 0.4em 0.6em;
        width: 40%;
        margin: auto;
    }

    /*PROMOCJA PIONKA*/

    .modal-window-white {
        right: 50px;
    }

    .modal-window-white img {
        height: 50px;
    }

    .modal-window-black {
        right: 50px;
    }

    .modal-window-black img {
        height: 50px;
    }


}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

    body {
        height: 95vh;
        background-image: none;
        grid-template-rows: 0.23fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    /*STARTING PAGE*/
    .body-start-page {
        grid-template-rows: 0.15fr 2fr 0.15fr;
    }

    .menuContainer {
        width: 50vw;
        height: 70vh;
        margin: 0.75em auto auto;
    }

    .menuContainer h2 {
        font-size: 1em;
        margin: 0.25em auto;
    }

    .menuContainer h4 {
        font-size: 0.75em;
    }

    .menuNames fieldset {
        padding: 0.15em;
    }

    .menuNames legend {
        font-size: 0.75em;
    }

    .menuNames input {
        font-size: 0.75em;
        width: 90%;
    }

    .menuTime h4 {
        margin-top: 0.75em;
    }

    .menuCheckList h4 {
        margin-top: 0.75em;
    }

    .menuCheckList span {
        font-size: 0.75em;
    }

    .start-button {
        margin-top: 0.75em;
    }

    .start-button p {
        font-size: 0.75em;
        padding: 0.15em;
        margin: 0.25em;
    }

    .board-wrapper {
        grid-template-columns: 26px 1fr 1em;
        padding-top: 1em;
        margin: auto 1em auto auto;
        border-radius: 15px;
        height: 90%;
    }

    .letters {
        grid-template-columns: repeat(8, 26px);
        font-size: 0.75em;
        height: 26px;
        margin-bottom: 0;
    }

    .numbers {
        grid-template-rows: repeat(8, 26px);
        font-size: 0.75em;
    }

    .board-container {
        grid-template-columns: repeat(8, 26px);
        border: 2px solid black;
    }

    .light {
        width: 26px;
        height: 26px;
    }

    .dark {
        width: 26px;
        height: 26px;
    }

    /*TIME-HISTORY-CONTAINER*/

    .time-history-container {
        width: 35vw;
        height: 75vh;
        border-radius: 15px;
    }

    .time-div h4 {
        font-size: 0.75em;
        margin: 0.5em;
    }

    #timer1 {
        margin-right: 1em;
    }

    #timer-white {
        font-size: 1em;
        border-radius: 7px;
    }

    #timer-black {
        font-size: 1em;
        border-radius: 7px;
    }

    #timer1 h5 {
        font-size: 0.75em;
        margin: auto;
    }

    #timer2 h5 {
        font-size: 0.75em;
        margin: auto;
    }

    /* HISTORY CONTAINER */

    .history-div h4 {
        font-size: 0.75em;
        margin: 0.5em;
    }

    .history-div-body {
        height: 90px;
        width: 90%;
        padding: 0.5em;
        border-radius: 10px;
    }

    .history-move {
        font-size: .6em;
        margin-bottom: 0.4em;
    }

    .history-moveHeader {
        font-size: .5em;
    }

    /* BUTTONS */

    .exit-button {
        display: block;
        font-size: 0.5em;
        padding: 0.4em 0.6em;
        border: 1.5px solid #FA6009;
        width: 75%;
        margin: 0.25em auto;
    }

    .undo-button {
        display: block;
        font-size: 0.5em;
        padding: 0.4em 0.6em;
        width: 75%;
        margin: auto;
    }

    /*PROMOCJA PIONKA*/

    .modal-window-white {
        right: 26px;
    }

    .modal-window-white img {
        height: 26px;
    }

    .modal-window-black {
        right: 26px;
    }

    .modal-window-black img {
        height: 26px;
    }

    /*MODAL KOŃCOWY*/

    /* .endModal {
        display: grid;
        justify-self: center;
        width: 90%;
        height: 100%;
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        padding: 1vw;
        text-align: center;
        border-radius: 25px;
    }

    .endModal h1 {
        display: grid;
        align-self: center;
    }

    .menuNames h2 {
        font-size: 2em;
    } */

}

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.05fr 0.95fr 0.55fr;
        background-image: none;
        grid-template-areas:
            "logo"
            "game"
            "timeHistoryContainer";
    }

    .body-start-page {
        grid-template-rows: 0.15fr 2fr 0.15fr;
    }

    .menuContainer {
        width: 80vw;
        height: 60vh;
        margin: 1.5em auto auto;
    }

    .menuContainer h2 {
        font-size: 1em;
        margin: 0.5em auto;
    }

    .menuContainer h4 {
        font-size: 0.75em;
    }

    .menuNames {
        width: 90%;
        margin: auto;
    }

    .menuNames fieldset {
        padding: 0.15em;
        margin: auto;
    }

    .menuNames legend {
        font-size: 0.75em;
    }

    .menuNames input {
        font-size: 0.85em;
        width: 90%;
    }

    .menuTime {
        width: 90%;
        margin: auto;
    }

    .menuTime h4 {
        margin-top: 0.75em;
    }

    .menuCheckList {
        width: 90%;
        margin: auto;
    }

    .menuCheckList h4 {
        margin-top: 0.75em;
    }

    #pat2 {
        margin-left: 1.75em;
    }

    .menuCheckList span {
        font-size: 0.75em;
    }

    .start-button {
        margin-top: 0.75em;
    }

    .start-button p {
        font-size: 0.75em;
        padding: 0.25em;
        margin: 0.75em;
    }

    .logo {
        height: 8vh;
        margin-bottom: 0.15em;
    }


    .logo img {
        max-height: 8vh;
        max-width: 60vw;
        object-fit: contain;

    }

    .board-wrapper {
        height: 90%;
        grid-template-columns: 30px 1fr 1em;
        padding-top: 1em;
        margin: 0.25em auto;
        border-radius: 15px;
    }

    .letters {
        grid-template-columns: repeat(8, 30px);
        font-size: 0.75em;
        height: 30px;
        margin-bottom: 0;
    }

    .numbers {
        grid-template-rows: repeat(8, 30px);
        font-size: 0.75em;
    }

    .board-container {
        grid-template-columns: repeat(8, 30px);
        border: 2px solid black;
    }

    .light {
        width: 30px;
        height: 30px;
    }

    .dark {
        width: 30px;
        height: 30px;
    }

    /*TIME-HISTORY-CONTAINER*/

    .time-history-container {
        width: 70vw;
        height: 40vh;
        border-radius: 15px;
        margin: auto auto;
    }

    .time-div h4 {
        font-size: 0.75em;
        margin: 0.5em;
    }

    #timer1 {
        margin-right: 1em;
    }

    #timer-white {
        font-size: 1em;
        border-radius: 7px;
    }

    #timer-black {
        font-size: 1em;
        border-radius: 7px;
    }

    #timer1 h5 {
        font-size: 0.75em;
        margin: auto;
    }

    #timer2 h5 {
        font-size: 0.75em;
        margin: auto;
    }

    /* HISTORY CONTAINER */

    .history-div h4 {
        font-size: 0.75em;
        margin: 0.5em;
    }

    .history-div-body {
        height: 90px;
        width: 90%;
        padding: 0.5em;
        border-radius: 10px;
    }

    .history-move {
        font-size: .6em;
        margin-bottom: 0.4em;
    }

    .history-moveHeader {
        font-size: .5em;
    }

    /* BUTTONS */

    .exit-button {
        display: block;
        font-size: 0.5em;
        padding: 0.4em 0.6em;
        border: 1.5px solid #FA6009;
        width: 75%;
        margin: 0.25em auto;
    }

    .undo-button {
        display: block;
        font-size: 0.5em;
        padding: 0.4em 0.6em;
        width: 75%;
        margin: auto;
    }

    /*PROMOCJA PIONKA*/

    .modal-window-white {
        right: 30px;
    }

    .modal-window-white img {
        height: 30px;
    }

    .modal-window-black {
        right: 30px;
    }

    .modal-window-black img {
        height: 30px;
    }

    /* MODAL KOŃCOWY*/

    /* .endModal {
        display: grid;
        justify-self: center;
        width: 90%;
        height: 100%;
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        padding: 1vw;
        text-align: center;
        border-radius: 25px;
    }

    .endModal h1 {
        display: grid;
        align-self: center;
    }

    .menuNames h2 {
        font-size: 2em;
    } */

}
