*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.board-container{
   width: fit-content;
   display: grid;
   grid-template-columns: repeat(8, 90px);
   border: 2px solid black;
}

.light{
   width: 90px;
   height: 90px;
   background-color: #eee;
   color: black;
}

.dark{
   width: 90px;
   height: 90px;
   background-color: #111;
   color: white;
}