*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.board-wrapper{
   height: 100%;
   display: grid;
   grid-template-columns: 75px 1fr 75px;
   width: fit-content;
   padding-top: 20px;
   background-color: rgb(238, 209, 165);
   border-radius: 30px;
}

.letters{
   width: fit-content;
   grid-column: 2/ -1;
   display: grid;
   grid-template-columns: repeat(8, 75px);
   text-align: center;
   font-size: 1.2em;
   height: 75px;
   align-items: center;
}
.numbers{
   display: grid;
   grid-template-rows: repeat(8, 75px);
   text-align: center;
   font-size: 1.2em;
   align-items: center;
}

.board-container{
   width: fit-content;
   display: grid;
   grid-template-columns: repeat(8, 75px);
   border: 2px solid black;
}

.light{
   width: 75px;
   height: 75px;
   background-color: #eee;
   color: black;
}

.dark{
   width: 75px;
   height: 75px;
   background-color: #111;
   color: white;
}