.modal-window-white {
    position: relative;
    right:90px;
    height: fit-content;
    z-index: 100;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.45) 3px 3px 10px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.modal-window-black {
    position: relative;
    right:90px;
    bottom: 270px;
    height: fit-content;
    z-index: 100;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.45) 3px 3px 10px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.modal-window img {
    box-sizing: border-box;
    padding: 0;
}